<ul class="nobullets">
{{#each topic}}
<div class="topic-wrapper">
  <li class="topic"><a href="/{{id}}">{{title}}</a></li>
</div>
{{/each}}
<li class="gravestone"><a class="topic topic-wrapper" href="/{{id}}">Money</a></li>
<li class="gravestone"><a class="topic topic-wrapper" href="/{{id}}">Food</a></li>
<li class="gravestone"><a class="topic topic-wrapper" href="/{{id}}">Exercise</a></li>
<li class="gravestone"><a class="topic topic-wrapper" href="/{{id}}">Relationships</a></li>
<li class="gravestone"><a class="topic topic-wrapper" href="/{{id}}">Career</a></li>
<li class="gravestone"><a class="topic topic-wrapper" href="/{{id}}">Misc</a></li>
</ul>
